@use '../base/variables.scss' as *;
@use '../base/typography.scss' as *;
@use '../misc/mixins.scss' as *;

.newspace {
    background-color: $dark-space-blue;
    padding: 1.5rem 1.25rem 1.5rem 1.31rem;

    @include respondto('lg') {
        padding: 2rem 1.5rem;
    }

    &__heading {
        font-size: 2rem;
        font-weight: $bold;
        line-height: 2rem;
        color: $yellow;
        padding-bottom: 0.25rem;

        @include respondto('lg') {
            font-size: 2.5rem;
            line-height: 2.5rem;
        }
    }
}
