// Breakpoints

$breakpoints: (
    xs: (min-width: 23.4375rem),
    sm: (min-width: 35.5rem),
    md: (min-width: 48rem),
    lg: (min-width: 62rem),
    xl: (min-width: 80rem),
    xxl:(min-width: 90rem)
)