/*
var(--dark-space-blue, #00001A), 
var(--light-vermillion, #F15D51); 
var(--gunmetal, #5E607A); 
var(--almost-white, #FFFDFA); 
var(--yellow, #E9AA52); 
var(--silver, #C5C6CE); 

*/

// Color Palette

$dark-space-blue: hsl(240, 100%, 5%);
$light-vermillion: hsl(5, 85%, 63%);
$gunmetal: hsl(236, 13%, 42%);
$almost-white: hsl(36, 100%, 99%);
$yellow: hsl(35, 77%, 62%);
$silver: hsl(233, 8%, 79%);